/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background: url('img/background.jpg');
  background-attachment:fixed;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-pills ul{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.arrows>.nav-justified{
  padding-left: 0px;

}
.arrows>.nav-justified>li{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.nav-pills>li>a{
  background-color:rgba(50,50,50,0.1);
  color: #FFF;
}

.nav-pills>li>a:hover{
  background-color:rgba(50,50,50,0.4);
  color: #DDD;
}

.jumbotron{
  height:100vh;
  background-color:rgb(100,100,135);
  background:linear-gradient(rgb(100,100,135),rgb(153,96,96));
  color:#FFF;
  margin-bottom: 0px;
}


.java{
  height:100vh;
  background-color:rgb(221, 163, 101);
  background:linear-gradient(rgb(221,163,101),rgb(243, 228, 114));
}

h1{
  text-shadow: 2px 2px 2px #000;
  font-size: 13vh;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  }

.header4{
  text-shadow: 2px 2px 2px #000;
  font-size: 6vh;
  color: #FFF;
}
.hidden{
  visibility:hidden;
}
.holder{
  width: 39px;
}
.spacer{
  height: calc(100% - 470px);
}
.icon{
  text-shadow: 2px 2px 2px #000;
}
.carousel{
  background-color: none;
}
.carousel-control.left, .carousel-control.right {
    background-color: none;
    background-image: none;
}
.aboutMe{
  color:white;
  background-color:rgb(153, 96, 96);
  background:linear-gradient(rgb(153,96,96),rgb(221,163,101));
  font-size: 19px;
}

.webDev{
  background-color:rgb(243, 228, 114);
  background:linear-gradient(rgb(243, 228, 114),rgb(163,238,166));
}

.contact{
  background-color:rgb(163, 238, 166);
  background:linear-gradient(rgb(163, 238, 166),rgb(100,100,135));
}

.myContent{
  background-color: rgba(0,0,0,0.05);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.6);
}

.resize{
  max-width:100%;
    max-height:100%;
    vertical-align: middle;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.8);
}

.resize2{
  height:63vh;

}

.padded{
  padding: 10px;
}

.resize3{
  height:63vh;

}

.tiny-nav>li>a{
  padding: 0px;
  width:auto;
}

footer{
  margin-top:60px;
  margin-bottom: 80px;
}

.section{
  min-height: 100vh;
}

a{
  color:white;
}

a:hover{
  color:#B2EDCD;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 80vh;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 80vh;
  background-color: none;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
